@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?tnduij');
  src:  url('../fonts/icomoon.eot?tnduij#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?tnduij') format('truetype'),
    url('../fonts/icomoon.woff?tnduij') format('woff'),
    url('../fonts/icomoon.svg?tnduij#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-group:before {
  content: "\e90f";
  color: #b80000;
}
.icon-local:before {
  content: "\e912";
  color: #b80000;
}
.icon-menu:before {
  content: "\e90b";
  color: #fff;
}
.icon-v-social:before {
  content: "\e903";
  color: #fff;
}
.icon-start:before {
  content: "\e904";
  color: #fff;
}
.icon-calendar:before {
  content: "\e90e";
}
.icon-paperplane:before {
  content: "\e902";
}
.icon-search:before {
  content: "\e900";
}
.icon-chevron-thin-left:before {
  content: "\e905";
}
.icon-chevron-thin-right:before {
  content: "\e906";
}
.icon-pinterest:before {
  content: "\e901";
}
.icon-arrow-left:before {
  content: "\e911";
}
.icon-cheveron-down:before {
  content: "\e908";
}
.icon-arrow-thin-right:before {
  content: "\e909";
}
.icon-check:before {
  content: "\e910";
}
.icon-person:before {
  content: "\e90a";
}
.icon-watch_later:before {
  content: "\e90d";
}
.icon-chevrons-right:before {
  content: "\e90c";
}
.icon-envelope:before {
  content: "\e907";
}
.icon-phone:before {
  content: "\e942";
}
.icon-bubbles2:before {
  content: "\e96d";
}
.icon-play3:before {
  content: "\ea1c";
}
.icon-arrow-up-right2:before {
  content: "\ea3b";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
