@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?v8d3i3");
  src: url("../fonts/icomoon.eot?v8d3i3#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?v8d3i3") format("truetype"),
    url("../fonts/icomoon.woff?v8d3i3") format("woff"),
    url("../fonts/icomoon.svg?v8d3i3#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star-full:before {
  content: "\e91f";
}
.icon-vector2:before {
  content: "\e90a";
  color: #b80000;
}
.icon-plan:before {
  content: "\e913";
  color: #b80000;
}
.icon-circular-raw:before {
  content: "\e914";
  color: #b80000;
}
.icon-fork:before {
  content: "\e915";
}
.icon-star:before {
  content: "\e916";
  color: #ffb11b;
}
.icon-fly:before {
  content: "\e912";
  color: #fff;
}
.icon-link:before {
  content: "\e917";
}
.icon-expand-solid-1:before {
  content: "\e918";
}
.icon-next:before {
  content: "\e919";
}
.icon-back:before {
  content: "\e91a";
  color: #b80000;
}
.icon-v-social:before {
  content: "\e91b";
}
.icon-constructor:before {
  content: "\e900";
  color: #fff;
}
.icon-Group:before {
  content: "\e901";
  color: #fff;
}
.icon-icon-group:before {
  content: "\e902";
  color: #b80000;
}
.icon-lich:before {
  content: "\e903";
  color: #b80000;
}
.icon-local:before {
  content: "\e904";
  color: #b80000;
}
.icon-menu:before {
  content: "\e905";
  color: #fff;
}
.icon-Scrool-down:before {
  content: "\e906";
  color: #b80000;
}
.icon-start:before {
  content: "\e907";
  color: #fff;
}
.icon-user:before {
  content: "\e908";
}
.icon-pinterest:before {
  content: "\e90b";
}
.icon-search:before {
  content: "\e909";
  color: #fff;
}
.icon-cheveron-left:before {
  content: "\e91e";
}
.icon-cheveron-right:before {
  content: "\e90c";
}
.icon-cheveron-down:before {
  content: "\e90d";
}
.icon-mail-envelope-closed:before {
  content: "\e90e";
}
.icon-mail-envelope-open:before {
  content: "\e90f";
}
.icon-watch_later:before {
  content: "\e91c";
}
.icon-phone_in_talk:before {
  content: "\e910";
}
.icon-check:before {
  content: "\e91d";
}
.icon-chevrons-left:before {
  content: "\e911";
}
.icon-phone:before {
  content: "\e942";
}
.icon-bubbles2:before {
  content: "\e96d";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
