/**
  * Name: Nicons
  * Version: 1.0
  * Author: Luong
  * Author URI: 
*/
@import url("icon-moon.css");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
/* 
@import url("flexslider.css");
@import url("owl.carousel.css");
@import url("shortcodes.css");
@import url("datepicker.css");
@import url("revolution-slider.css");
@import url("simple-line-icons.css");
@import url("material-design-iconic-font.min.css");
@import url("material-icons.css"); */

/**
* Reset
  * Repeatable Patterns    
  *	Header 
  * Slider
  *	Page Title
  * Home 1
  * Blog Grid
  * Blog List
  * Blog Detail  
  * Contact Us  
  * Widgets  
  * Widget pagination
  * Widget sidebar
  * Widget next previous post
  * Widget button
  * Widget about company
  * Widget title section
  * Widget count
  * Widget our project
  * Widget-testimonias
  * Client partner
  * Footer
  * Footer widget  
*/
/* Root
-------------------------------------------------------------- */
:root {
  --color-primary: rgba(184, 0, 0, 1);
  --color-white: rgba(255, 255, 255, 1);
  --color-text-footer: rgba(209, 209, 209, 1);
  --color-black: #000000;
  --color-title: rgba(27, 27, 27, 1);
  --color-heading: rgba(0, 0, 0, 1);
  --color-text-gray: #1b1b1b99;
  --color-text-gray-2: rgba(122, 127, 134, 1);
  --color-border: rgba(237, 237, 237, 1);
  --bg-overlay: rgba(250, 246, 246, 0.4);
  --bg-footer: rgba(0, 0, 0, 1);
  --bg-carousel: rgba(4, 7, 8, 1);
  --bg-widget-sidebar: rgba(245, 245, 245, 1);
  --bg-form-comment: rgba(245, 245, 245, 1);
  --color-star: #ffb11b;
}
/* Reset
-------------------------------------------------------------- */
html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
caption,
canvas,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
form,
footer,
header,
hgroup,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
tt,
table,
tbody,
textarea,
tfoot,
thead,
time,
tr,
th,
td,
u,
ul,
var,
video {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  quotes: none;
}

figure {
  margin: 0;
}

:focus {
  outline: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

legend {
  white-space: normal;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  max-width: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

button,
input {
  line-height: normal;
}

input,
textarea {
  background-image: -webkit-linear-gradient(
    hsla(0, 0%, 100%, 0),
    hsla(0, 0%, 100%, 0)
  ); /* Removing the inner shadow, rounded corners on iOS inputs */
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  line-height: 1;
  cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
  -webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
  border: none;
}

input[type="checkbox"],
input[type="radio"] {
  padding: 0; /* Addresses excess padding in IE8/9 */
}

input[type="search"] {
  -webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
}

input[type="search"]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Repeatable Patterns
-------------------------------------------------------------- */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font: 16px/29px "DM Sans", sans-serif;
  font-weight: 400;
  background-color: #fff;
  color: var(--color-text-gray);
}
a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

ul,
ol {
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.img-left {
  margin: -10px 50px 0 0 !important;
  float: left;
}

.img-right {
  margin: 0 0 0 50px !important;
  float: right;
}

b,
strong {
  font-weight: 900;
}

.entry-page p {
  margin-bottom: 25px;
}

.padding-left61px {
  padding-left: 61px;
}
.about-wrap.padding-left61px {
  padding-right: 15px;
}
.margin-top93px {
  margin-top: 93px;
}

h1 {
  font: 60px/60px "Play", sans-serif;
}
h2 {
  font: 45px/45px "Play", sans-serif;
}
h3 {
  font: 30px/30px "Play", sans-serif;
}
h4 {
  font: 25px/25px "Play", sans-serif;
}
h5 {
  font: 22px/22px "Play", sans-serif;
}
h6 {
  font: 20px/20px "Play", sans-serif;
}

h1,
h2,
h4,
h5,
h6 {
  color: #202020;
  font-weight: 800;
}

button {
  border: none;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  color: #7a7f86;
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: #e5e5e5;
  padding: 7px 21px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  width: 100%;
  font-size: 16px;
  border: 1px solid #e5e5e5;
  color: #7a7f86;
  background-color: transparent;
  height: 60px;
  padding: 12px 30px;
  border-radius: 0;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

textarea {
  width: 100%;
  height: 166px;
  padding: 15px 30px;
}

input[type="checkbox"] {
  display: inline;
}

textarea:-moz-placeholder,
textarea::-moz-placeholder,
input:-moz-placeholder,
input::-moz-placeholder {
  color: #a0a0a0;
  opacity: 1;
}

input:-ms-input-placeholder {
  color: #a0a0a0;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
  color: #a0a0a0;
  opacity: 1;
}

/* bootstrap resetting elements */
.btn {
  background-image: none;
}

textarea,
input[type="text"],
input[type="submit"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input,
.dropdown-menu,
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  -webkit-appearance: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  color: #a0a0a0;
}

.blog-single .entry p {
  margin-bottom: 25px;
}

/* Header
-------------------------------------------------------------- */
.header-home,
.header-blog {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.header-blog {
  background-image: url(../images/blog/page-title1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header-main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  max-height: 105px;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid rgba(217, 217, 217, 0.13);
}
.header-left {
  padding-left: 49px;
  padding-right: 125px;
  align-self: center;
}

.mainnav {
  width: fit-content;
}
.mainnav .menu {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}
.mainnav .menu .menu-item {
  position: relative;
  padding: 0px 37.5px;
  padding-top: 35px;
  padding-bottom: 47px;
  color: var(--color-white);
}
.mainnav .menu .menu-item::after {
  position: absolute;
  content: "";
  left: 0;
  height: 2px;
  width: 100%;
  bottom: 0px;
}
.mainnav .menu .menu-item:hover,
.mainnav .menu .menu-item.current-select {
  background-color: var(--bg-overlay);
}
.mainnav .menu .menu-item.current-select::after,
.mainnav .menu .menu-item:hover::after {
  background-color: var(--color-primary);
}
.mainnav .menu .menu-item:hover > a > span,
.mainnav .menu .menu-item.current-select > a > span {
  text-decoration: underline;
}
.mainnav .menu .menu-item a {
  display: block;
  font-size: 18px;
  position: relative;
  color: inherit;
  line-height: 23.44px;
  text-align: left;
}

.mainnav .menu .menu-item.menu-item-has-children > a::after {
  position: absolute;
  right: -20px;
  content: "\e90d";
  font-family: "icomoon";
  font-weight: 700;
  font-size: 16px;
}
.mainnav .menu-item > .sub-menu {
  position: absolute;
  visibility: hidden;
  top: 110%;
  min-width: 200px;
  background-color: var(--color-white);
  border-radius: 5px;
  opacity: 0;
  transform-origin: top center;
  transform: scaleY(0);
  transition: all 0.3s ease-in-out;
  z-index: 9999;
}
.mainnav .menu .menu-item:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
}
.mainnav .menu-item > .sub-menu::before {
  content: "";
  left: 30px;
  top: -20px;
  z-index: 10;
  position: absolute;
  border: 10px solid;
  border-color: transparent transparent var(--color-white) transparent;
}
.mainnav .menu-item > .sub-menu::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  height: 20px;
}
.mainnav .menu-item > .sub-menu li:first-child > a {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.mainnav .menu-item > .sub-menu li:last-child > a {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.mainnav .sub-menu .sub-item a {
  display: block;
  color: var(--color-black);
  padding: 10px 30px;
}
.mainnav .sub-menu .sub-item.active a,
.mainnav .sub-menu .sub-item a:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.header-right {
  display: inline-flex;
  max-height: 104px;
  overflow: hidden;
}
.header-right .search-btn {
  border: none;
  margin-right: 40px;
}
.header-right .search-btn span {
  font-size: 20px;
  color: var(--color-white);
  transition: color 300ms ease-in;
}
.header-right .search-btn:hover span {
  color: var(--color-primary);
}
.header-right .menu-btn {
  position: relative;
  cursor: pointer;
  background-color: var(--color-primary);
  padding: 54px 72px 50px 51px;
}
.header-right .menu-btn span {
  position: absolute;
  font-size: 26px;
  top: 40px;
  left: 52px;
}
/* Slider
-------------------------------------------------- */
.slider {
  padding-top: 304px;
  padding-bottom: 273px;
  background-image: url(../images/slides/slider-bg-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider-left {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateX(-41%) rotate(270deg);
  white-space: nowrap;
  padding-bottom: 5px;
  padding-right: 6px;
}

.slider-left p {
  display: inline;
}
.slider-left p:first-child::after {
  display: inline-block;
  content: "";
  height: 18px;
  width: 2px;
  background-color: var(--color-white);
  margin-left: 36.86px;
  margin-right: 38.97px;
}
.slider-left .email,
.slider-left .hot-line {
  font-family: "Jost";
  font-size: 15px;
  font-weight: 500;
  line-height: 21.68px;
  text-align: left;
  color: var(--color-white);
}
.slider-left .email span {
  color: var(--color-primary);
}
.slider-center {
  padding-left: 5px;
}
.slider-center .widget-title {
  font-family: "Play";
  font-size: 89px;
  font-weight: 700;
  line-height: 107px;
  text-align: left;
  color: var(--color-white);
  margin-bottom: 41px;
  letter-spacing: 1px;
}
.slider-center .widget-button {
  margin-right: 30px;
  margin-left: 8px;
}
.slider-right {
  position: absolute;
  right: 50px;
  top: 34.69%;
}
.slider-right > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 344px;
}
.slider-right > ul > li:not(:first-child, :last-child) {
  background-color: var(--color-white);
  width: 2px;
  height: 100%;
}
.slider-right > ul > li > span {
  font-family: "Jost";
  font-size: 20px;
  font-weight: 500;
  color: var(--color-white);
  line-height: 38px;
}
.slider-right > ul > li > button {
  border: none;
  padding: 0;
  height: 100%;
  width: 100%;
}
.slider-right > ul > li > button:hover,
.slider-right > ul > li > button.current-select {
  background-color: var(--color-primary);
  transition: background-color 300ms ease-in;
}
.widget-scroll-down,
.widget-next-prev-slider {
  position: absolute;
}
.widget-next-prev-slider {
  right: 15%;
  bottom: 56px;
}
.widget-next-prev-slider > button {
  border: none;
}
.widget-next-prev-slider > button > span {
  font-size: 30px;
  color: var(--color-white);
}
.widget-next-prev-slider > button.previous {
  transform: rotate(180deg);
  margin-right: 20px;
}
.widget-next-prev-slider > button > span:hover {
  color: var(--color-primary);
  transition: color 300ms ease-in;
}
.widget-scroll-down {
  right: 49%;
  bottom: 29px;
}
.widget-scroll-down span {
  font-size: 64px;
}
/* Page title
-------------------------------------------------- */
.page-title {
  padding-top: 201px;
  width: 100%;
}
.page-title .title-main {
  font-size: 60px;
  font-weight: 700;
  line-height: 83px;
  text-align: center;
  width: 100%;
  color: var(--color-white);
  margin-bottom: 18px;
}
.page-title .page-title__breadcrumb {
  text-align: center;
  display: flex;
  justify-content: center;
  padding-bottom: 102px;
  font-size: 18px;
}
.page-title .page-title__breadcrumb li a,
.page-title .page-title__breadcrumb li span {
  color: var(--color-white);
}
.page-title .page-title__breadcrumb li a:hover {
  color: var(--color-primary);
}
.page-title .page-title__breadcrumb li a::after {
  content: "\e90c";
  font-family: "icomoon";
  padding: 0 10px;
  color: var(--color-white);
  font-size: 18px;
}
.main-content {
  padding: 135px 0;
}
/*Home 1
 -------------------------------------------------------*/
.home-1 {
  overflow-x: hidden;
  padding-top: 138px;
  padding-bottom: 135px;
}
.home-1 .widget-button {
  padding-right: 83px;
}
.home-1 .widget-title-section {
  margin-bottom: 115px;
}

/*Blog grid
 -------------------------------------------------------*/
.blog-grid__container > .row {
  margin-bottom: 27px;
}
.blog-grid .row .col {
  padding-left: 15px;
  padding-right: 15px;
}
.blog-post {
  margin-bottom: 30px;
}
.blog-post .blog-post__img {
  position: relative;
  margin-bottom: 24px;
  max-height: 304px;
  overflow: hidden;
}
.blog-post .blog-post__img img {
  width: 100%;
}
.blog-post .blog-post__img a {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-primary);
  color: #fff;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  text-align: center;
  line-height: 75px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 300ms ease;
}
.blog-post .blog-post__img:hover a {
  visibility: visible;
  opacity: 1;
}

.blog-post .blog-post__content {
  text-align: left;
}
.blog-post .blog-post__content .title-top {
  color: var(--color-text-gray);
}
.blog-post .blog-post__content .meta-top a {
  font-size: 16px;
  font-weight: 700;
  line-height: 17.83px;
  margin-bottom: 10px;
  display: block;
}
.blog-post .blog-post__content .title-main {
  margin-bottom: 25px;
}
.blog-post .blog-post__content .title-main a {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  color: var(--color-title);
}
.blog-post .blog-post__content .meta-bottom {
  display: inline-flex;
  align-items: center;
  gap: 6px;
}
.blog-post .blog-post__content .meta-bottom a {
  font-size: 16px;
  font-weight: 500;
  line-height: 20.83px;
  color: var(--color-text-gray);
}
.blog-post .blog-post__content .meta-bottom li:not(:last-child):after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(209, 209, 209, 1);
  margin-right: 5px;
}
.blog-post .blog-post__content a:hover {
  color: var(--color-primary);
}
/*Blog grid
 -------------------------------------------------------*/
.blog-list__container .blog-card:not(:last-child) {
  margin-bottom: 47px;
}
.blog-list__container .blog-card .img {
  position: relative;
  margin-bottom: 24px;
}
.blog-list__container .blog-card img {
  object-fit: cover;
  width: 100%;
}
.blog-list__container .blog-card .date {
  position: absolute;
  top: 16px;
  left: 16px;
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 17px 23px;
  border-radius: 5px;
}
.blog-list__container .blog-card .date p {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}
.blog-list__container .meta {
  margin-bottom: 14px;
}
.blog-list__container .meta ul,
.blog-list__container .meta ul li {
  display: inline-flex;
  align-items: center;
}

.blog-list__container .meta ul li:not(:last-child):after {
  content: "";
  height: 2px;
  width: 10px;
  background-color: var(--color-text-gray-2);
  margin: 0 25px;
}
.blog-list__container .meta ul span {
  color: var(--color-primary);
  margin-right: 10px;
}
.blog-list__container .meta ul a {
  color: var(--color-text-gray-2);
}
.blog-list__container .meta ul a:hover {
  color: var(--color-primary);
  transition: color 0.3s ease;
}
.blog-list__container .title {
  font-size: 33px;
  font-weight: 700;
  line-height: 44.2px;
  text-align: left;
  margin-bottom: 22px;
}
.blog-list__container .content {
  font-size: 18px;
  font-weight: 400;
  line-height: 31px;
  text-align: left;
  color: var(--color-text-gray-2);
  margin-bottom: 38px;
  padding-right: 47.71px;
}
.blog-list__container .blog-card a {
  display: inline-flex;
  align-items: center;
  gap: 30px;
  border: none;
  padding: 0;
  color: var(--color-primary);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.18em;
}
.blog-list__container .blog-card a > span {
  position: relative;
  display: inline-flex;
  align-items: center;
  color: var(--color-primary);
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.18em;
  text-align: left;
  padding-right: 40px;
}
.blog-list__container .blog-card a > span::after {
  position: absolute;
  right: -42%;
  content: "\e90c";
  font-family: "icomoon";
  font-size: 14px;
  color: var(--color-primary);
  border: 1px solid rgba(232, 242, 249, 1);
  padding: 5px 6px;
  border-radius: 50%;
  z-index: -1;
}
.blog-list__container .blog-card a > span::before {
  position: absolute;
  right: 0;
  display: block;
  content: "";
  width: 40px;
  height: 1.5px;
  background-color: var(--color-primary);
}
.blog-list__container .blog-card a:hover,
.blog-list__container .blog-card a:hover > span::after {
  color: var(--color-black);
}
.blog-list__container .blog-card a:hover > span::before {
  background-color: var(--color-black);
}
/* Blog Details
------------------------------------------------------ */
.blog-detail__container .post-wrap {
  padding-left: 14px;
  padding-right: 12px;
}
.blog-detail__container .post-wrap > img {
  margin-bottom: 24px;
}
.blog-detail__container .meta {
  margin-bottom: 25px;
}
.blog-detail__container .meta ul,
.blog-detail__container .meta ul li {
  display: inline-flex;
  align-items: center;
}
.blog-detail__container .meta ul li:not(:last-child):after {
  content: "";
  height: 1px;
  width: 10px;
  background-color: var(--color-text-gray-2);
  margin: 0 12px;
}
.blog-detail__container .meta ul span {
  color: var(--color-primary);
  margin-right: 10px;
}
.blog-detail__container .meta ul a {
  color: var(--color-text-gray-2);
}
.blog-detail__container .meta ul a:hover {
  color: var(--color-primary);
  transition: color 0.3s ease;
}
.blog-detail__container .post-wrap .title {
  font-size: 32px;
  font-weight: 700;
  line-height: 44.2px;
  margin-bottom: 23px;
  color: var(--color-heading);
}
.blog-detail__container .post-wrap > .entry-content .content,
.blog-detail__container .post-wrap > .content {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: var(--color-text-gray-2);
  margin-bottom: 33px;
}

.blog-detail__container .post-wrap > .entry-content {
  margin-bottom: 42px;
}
.blog-detail__container .post-wrap > .entry-content .content {
  padding-right: 76px;
}
.blog-detail__container .blockquote-blog {
  background-image: url(../images/blog/quote.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 40px;
  margin-top: 50px;
}
.blog-detail__container .blockquote-blog .blockquote {
  padding: 39px 35px;
}
.blog-detail__container .blockquote-blog .blockquote p {
  font-family: "Play", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 43px;
  color: var(--color-white);
  margin-bottom: 25px;
}
.blog-detail__container .blockquote-blog .blockquote h5::before {
  content: "";
  display: inline-block;
  height: 2px;
  width: 17.91px;
  background-color: var(--color-white);
  margin-right: 11.65px;
  vertical-align: middle;
}
.blog-detail__container .blockquote-blog .blockquote h5 {
  font-size: 16px;
  font-weight: 400;
  line-height: 20.83px;
  color: var(--color-white);
}
.blog-detail__container .blockquote-blog .blockquote span {
  position: absolute;
  right: 4%;
  top: 70%;
  font-size: 29px;
}
.blog-detail__container .ux-content {
  margin-bottom: 37px;
}
.blog-detail__container .ux-content .title {
  font-size: 28px;
  font-weight: 700;
  line-height: 56px;
  color: var(--color-heading);
  margin-bottom: 40px;
}
.blog-detail__container .ux-content img {
  padding-left: 24px;
}
.blog-detail__container .ux-content li {
  margin-bottom: 22px;
}
.blog-detail__container .ux-content span:first-child {
  color: var(--color-primary);
  border-radius: 50%;
  padding: 9px;
  font-size: 13px;
  margin-right: 8.49px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.08);
}
.blog-detail__container .ux-content li.active span:first-child {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.blog-detail__container .ux-content span:last-child {
  font-weight: 400;
  line-height: 20.83px;
  color: var(--color-text-gray-2);
}
.blog-detail__container .ux-content .note {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 500;
  font-style: italic;
  padding-right: 27px;
}
.blog-detail .share-blog {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  padding-bottom: 13px;
  border-bottom: 1px solid rgba(246, 243, 238, 1);
  margin-bottom: 65px;
}
.blog-detail .share-blog ul {
  display: inline-flex;
  gap: 11.69px;
}
.blog-detail .share-blog .tag-blog .tag a {
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  color: var(--color-text-gray-2);
  border: 1px solid rgba(246, 243, 238, 1);
  padding-left: 16.32px;
  padding-right: 28.48px;
}
.blog-detail .share-blog .tag-blog .tag a:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
  transition: all 0.3s ease;
}
.blog-detail .social-blog > span {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: var(--color-heading);
  margin-right: 77.02px;
}
.blog-detail .social-blog .social span {
  display: block;
  text-align: center;
  line-height: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(242, 246, 247, 1);
  color: var(--color-text-gray-2);
  transition: all 400ms ease;
}
.blog-detail .social-blog .social li:hover span {
  color: var(--color-white);
  background-color: var(--color-primary);
}
.blog-detail .comment-single {
  margin-bottom: 54px;
}
.blog-detail .comment-single .title,
.blog-detail .form-comment .title {
  position: relative;
  padding-bottom: 12px;
  font-size: 30px;
  font-weight: 700;
  line-height: 34.71px;
  border-bottom: 1px solid rgba(239, 239, 239, 1);
}
.blog-detail .comment-single .title::after,
.blog-detail .form-comment .title::after {
  position: absolute;
  content: "";
  bottom: 0;
  height: 2px;
  background-color: var(--color-primary);
  left: 0;
  width: 30%;
}
.blog-detail .form-comment input,
.blog-detail .form-comment textarea {
  margin-bottom: 20px;
}
.blog-detail .comment-single .comment .content {
  display: flex;
  gap: 35px;
}
.blog-detail .comment-single .comment .content img {
  width: 100px;
  height: 100px;
}
.blog-detail .comment-single .comment .infor h5 {
  display: inline-block;
  font-family: "Play";
  font-size: 16px;
  font-weight: 700;
  line-height: 18.51px;
  letter-spacing: -0.03em;
  text-align: left;
}
.blog-detail .comment-single .comment .infor span {
  font-weight: 400;
  line-height: 30px;
}
.blog-detail .comment-single .comment .infor p {
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 25px;
}
.blog-detail .comment-single .comment .infor a {
  font-weight: 600;
  color: var(--color-text-gray-2);
}
.blog-detail .comment-single .comment .infor a::after {
  content: "\e906";
  font-family: "icomoon";
  vertical-align: middle;
}
.blog-detail .comment-single .comment .infor a:hover,
.blog-detail .comment-single .comment .infor a:hover::after {
  color: var(--color-primary);
  transition: color 0.3s ease;
}
.blog-detail .comment-single .comment-children {
  padding-left: 75px;
}
.blog-detail .form-comment {
  background-color: var(--bg-form-comment);
  padding: 30px;
}
.blog-detail .form-comment label {
  font-weight: 600;
  line-height: 30px;
  color: var(--color-heading);
  margin-bottom: 10px;
}
.blog-detail .form-comment input,
.blog-detail .form-comment textarea {
  background-color: var(--color-white);
  border: none;
  font-weight: 400;
  line-height: 30px;
}
.blog-detail .form-comment .button-wrap {
  padding-right: 31px;
}
.blog-detail .form-comment button {
  border: none;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: 18px;
  font-weight: 700;
  line-height: 20.83px;
  width: 100%;
  padding: 15px 0;
  font-family: "Play";
}
.blog-detail .form-comment button:hover {
  background-color: var(--color-black);
  color: var(--color-white);
  transition: all 300ms ease;
}
/* Contact Us
--------------------------------------------------- */

/* Widget pagination
------------------------------------------------------ */
.widget-pagination {
  width: 100%;
  text-align: center;
}
.widget-pagination .pagination-list {
  display: inline-flex;
  align-items: center;
  gap: 17.19px;
  padding-left: 20px;
}
.widget-pagination li:last-child {
  transform: rotate(180deg);
}
.widget-pagination li:last-child,
.widget-pagination li:first-child {
  font-size: 21px;
  color: var(--color-black);
}
.widget-pagination li a {
  display: block;
  color: var(--color-black);
  font-size: 16px;
  font-weight: 500;
  line-height: 17.25px;
  border: 1.5px solid var(--color-border);
  border-radius: 5px;
  padding: 15px 22px;
  width: 59.74px;
  height: 50px;
  background-color: var(--color-white);
  transition: all 300ms ease;
}
.widget-pagination li.active a,
.widget-pagination li:hover a {
  color: var(--color-white);
  background-color: var(--color-primary);
  border: 1.5px solid var(--color-primary);
}
/* Sidebar widget
------------------------------------------------------ */
.sidebar {
  padding-left: 40px;
  padding-right: 6px;
}
.sidebar .widget {
  padding: 39px 32px 26px 23px;
  background-color: var(--bg-widget-sidebar);
  margin-bottom: 29px;
}
.sidebar .widget-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--color-heading);
  padding-left: 7px;
  border-left: 2px solid var(--color-primary);
}
.sidebar .widget-search .widget-title {
  margin-bottom: 20px;
}
.sidebar .widget-search .input-wrap {
  display: flex;
  align-items: center;
  background-color: var(--color-white);
}
.sidebar .widget-search button {
  border: none;
  padding: 0;
  margin-right: 28.33px;
}
.sidebar .widget-search input {
  border: none;
  flex-grow: 1;
  padding: 10px 0px 15px 18px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  margin: 0;
}
.sidebar .widget-search span {
  font-size: 25px;
  color: var(--color-text-gray-2);
}
.sidebar .widget-news-blogs .widget-title {
  margin-bottom: 34px;
}
.sidebar .widget-news-blogs li {
  display: inline-flex;
  align-items: center;
  gap: 24px;
}
.sidebar .widget-news-blogs li img {
  max-width: fit-content;
}
.sidebar .widget-news-blogs li:not(:last-child) {
  margin-bottom: 40px;
}
.sidebar .widget-news-blogs .date {
  margin-bottom: 5px;
}
.sidebar .widget-news-blogs .date span {
  color: var(--color-primary);
  margin-right: 7px;
}
.sidebar .widget-news-blogs .date p {
  display: inline;
  font-size: 15px;
  font-weight: 500;
  line-height: 26px;
  color: var(--color-text-gray-2);
}
.sidebar .widget-news-blogs h4 a {
  font-weight: 700;
  line-height: 23.8px;
  color: var(--color-heading);
  font-size: 16px;
}
.sidebar .widget-news-blogs h4:hover a {
  color: var(--color-primary);
  transition: color 0.3s ease;
}
.sidebar .widget-categories {
  padding-left: 11px;
  padding-bottom: 29px;
}
.sidebar .widget-categories .widget-title {
  margin-bottom: 25px;
}
.sidebar .widget-categories li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar .widget-categories li > button {
  border: none;
}
.sidebar .widget-categories li > h5 a,
.sidebar .widget-categories li > a {
  color: var(--color-heading);
  font-size: 18px;
  font-weight: 400;
  line-height: 55px;
  text-align: left;
  transition: all 400ms ease-in;
}
.sidebar .widget-categories li:hover > h5 a,
.sidebar .widget-categories li:hover > a {
  color: var(--color-primary);
}
.sidebar .widget-popular-tags .widget-title {
  margin-bottom: 27px;
}
.sidebar .widget-popular-tags ul {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 13.44px;
}
.sidebar .widget-popular-tags li a {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.23px;
  color: var(--color-text-gray-2);
  padding: 8px 20px 11px;
  background-color: var(--color-white);
  transition: all 400ms ease-in;
}
.sidebar .widget-popular-tags li:hover a {
  color: white;
  background-color: var(--color-primary);
}
/* Widget next previous post
-------------------------------------------------------*/
.widget-next-previous-post {
  display: flex;
  justify-content: space-between;
  gap: 89px;
  align-items: start;
  margin-bottom: 69px;
}
.widget-next-previous-post .previous-blog,
.widget-next-previous-post .next-blog {
  display: inline-flex;
  align-items: center;
  gap: 30px;
}
.widget-next-previous-post .next-blog {
  padding-right: 10px;
}
.widget-next-previous-post .next-blog .infor,
.widget-next-previous-post .next-blog .infor h4 {
  text-align: right;
}
.widget-next-previous-post .infor h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.03em;
  text-align: left;
}
.widget-next-previous-post .infor a {
  font-size: 16px;
  font-weight: 500;
  line-height: 20.83px;
  color: var(--color-text-gray-2);
}
.widget-next-previous-post .next-blog span,
.widget-next-previous-post .previous-blog span {
  color: var(--color-primary);
}
.widget-next-previous-post .next-blog span {
  margin-left: 10px;
}
.widget-next-previous-post .previous-blog span {
  margin-right: 10px;
}
/* Widget Button 
--------------------------------------------------------*/
.widget-button {
  position: relative;
  border: none;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-weight: 700;
  line-height: 20.83px;
  letter-spacing: 0.05em;
  padding: 23px 92px 23px 44px;
}
.widget-button::after {
  position: absolute;
  right: 35px;
  content: "\e919";
  font-family: "icomoon";
  font-size: 15px;
  vertical-align: middle;
}
.widget-button:hover {
  transition: background-color 300ms ease-in;
  background-color: var(--color-black);
}
.widget-play {
  position: relative;
  border: none;
  padding-top: 14px;
  padding-bottom: 18px;
  background-color: rgba(250, 246, 246, 0.1);
}
.widget-play::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  right: -6px;
  bottom: -6px;
  border: 1px solid rgba(255, 255, 255, 0.13);
}
.widget-play span {
  color: rgba(217, 217, 217, 1);
  font-size: 30px;
}
.widget-play:hover {
  opacity: 0.5;
  transition: opacity 300ms ease-in;
}
/* Widget about company
------------------------------------------------------ */
.widget-about-company > .col-lg-5 {
  padding: 0;
  padding-right: 14px;
}
.widget-about-company .img-wrap {
  position: relative;
}
.widget-about-company .content-wrap {
  padding-left: 52px;
  padding-top: 7px;
}
.widget-about-company .img-wrap::after {
  position: absolute;
  content: "";
  width: 12px;
  background-color: var(--color-primary);
  right: -12px;
  top: 22px;
  bottom: 20px;
}
.widget-about-company .img-wrap img {
  width: 100%;
}
.widget-about-company .content {
  padding-top: 9px;
}
.widget-about-company .icon-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 28px;
  margin-bottom: 30px;
  padding-right: 127px;
}
.widget-about-company .icon-list li {
  display: inline-flex;
  align-items: center;
  gap: 12px;
}
.widget-about-company .icon-list li::before {
  content: "";
  display: block;
  background-color: var(--color-primary);
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.widget-about-company .icon-list h6 {
  font-family: "Play";
  font-size: 16px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.01em;
  color: var(--color-heading);
}
/* Widget title section
------------------------------------------------------ */
.widget-title-section .sub-heading {
  color: var(--color-primary);
  text-transform: uppercase;
  font-family: "Play";
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--color-primary);
  width: fit-content;
  min-width: 280px;
  margin-bottom: 15px;
  line-height: 27px;
}
.widget-title-section .heading {
  font-family: "Play";
  font-size: 48px;
  font-weight: 700;
  line-height: 63px;
  color: var(--color-heading);
  text-transform: uppercase;
}
.widget-title-section .des {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: var(--color-text-gray-2);
  text-transform: capitalize;
  padding-bottom: 33.5px;
  padding-right: 70px;
  margin-bottom: 35px;
  border-bottom: 1px solid rgba(134, 137, 142, 0.6);
}
/* Widget count
-------------------------------------------------------*/
.widget-count {
  display: inline-flex;
  gap: 21px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 40px 54px 58px 31px;
}
.widget-count span {
  font-size: 60px;
  margin-top: 16px;
}
.widget-count .content h3,
.widget-count .content p {
  font-family: "Play";
  font-weight: 700;
}
.widget-count .content h3 {
  font-size: 50px;
  line-height: 45px;
}
.widget-count .content p {
  font-size: 20px;
  padding-left: 10px;
  word-spacing: 5px;
}
/* Widget our projects
-----------------------------------------------------  */
.widget-our-projects {
  padding-top: 108px;
}
.widget-our-projects > .row {
  row-gap: 10px;
}
.widget-our-projects > .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 53px;
}
.widget-our-projects .widget-title-section .sub-heading,
.widget-our-projects .widget-title-section .heading {
  color: var(--color-white);
  border-color: var(--color-white);
}
.widget-our-projects .area-right {
  padding-right: 45px;
  align-self: center;
  padding-bottom: 20px;
}
.widget-our-projects .area-right a {
  font-weight: 700;
  line-height: 20.83px;
  letter-spacing: 0.05em;
  text-align: center;
  color: var(--color-white);
}
.widget-our-projects .area-right a:hover {
  transition: color 300ms ease-in;
  color: var(--color-primary);
}
.widget-our-projects .area-right a::after {
  content: "\e919";
  font-family: "icomoon";
  margin-left: 18px;
}
.widget-our-projects .col-lg-3 {
  padding-left: 6px;
  padding-right: 6px;
}
.widget-our-projects li {
  position: relative;
  overflow: hidden;
  height: fit-content;
}
.widget-our-projects img {
  width: 100%;
}
.widget-our-projects .infor {
  position: absolute;
  inset: 0 6px;
}
.widget-our-projects .infor a {
  display: block;
  background-color: var(--color-white);
  color: var(--color-black);
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.widget-our-projects .infor .button-zoom::after,
.widget-our-projects .infor .button-link::after {
  font-family: "icomoon";
}
.widget-our-projects .infor .button-zoom::after {
  content: "\e918";
  font-size: 38px;
}
.widget-our-projects .infor .button-link::after {
  content: "\e917";
  font-size: 33px;
}
.widget-our-projects .infor .button-zoom,
.widget-our-projects .infor .button-link {
  position: absolute;
  right: 15px;
  transform: translateX(100px);
}
.widget-our-projects .infor .button-zoom {
  top: 21px;
}
.widget-our-projects .infor .button-link {
  top: 81px;
}
.widget-our-projects .infor p,
.widget-our-projects .infor h4 {
  color: var(--color-white);
}
.widget-our-projects .infor p {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.14em;
  margin-bottom: 4px;
}
.widget-our-projects .infor h4 {
  font-family: "Play";
  font-size: 30px;
  font-weight: 700;
}
.widget-our-projects .infor p,
.widget-our-projects .infor h4 {
  position: absolute;
  left: 58px;
  transform: translateY(100px);
}
.widget-our-projects .infor p {
  bottom: 62px;
}
.widget-our-projects .infor h4 {
  bottom: 39px;
}
.widget-our-projects li:hover .infor,
.widget-our-projects li:hover .button-zoom,
.widget-our-projects li:hover .button-link,
.widget-our-projects li:hover .infor p,
.widget-our-projects li:hover .infor h4 {
  transition: all 300ms ease-in;
}
.widget-our-projects li:hover .infor {
  background-color: rgba(196, 6, 6, 0.51);
}
.widget-our-projects li:hover .button-zoom,
.widget-our-projects li:hover .button-link {
  transform: translateX(0);
}
.widget-our-projects li:hover .infor p,
.widget-our-projects li:hover .infor h4 {
  transform: translateY(0);
}
/* Widget testimonias
-----------------------------------------------------  */
.widget-testimonias {
  background-color: #f5f5f5;
}
.widget-testimonias .img-main {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.widget-testimonias .widget-title-section {
  margin-bottom: 58px;
}
.widget-testimonias .content-wrap {
  margin-top: 125px;
  margin-left: 55px;
  margin-bottom: 97px;
}
.widget-testimonias ul {
  display: flex;
  margin-left: 12px;
  gap: 10px;
  margin-bottom: 17px;
}
.widget-testimonias ul li > span {
  color: var(--color-star);
}
.widget-testimonias p {
  font-size: 18px;
  line-height: 35px;
  letter-spacing: -0.02em;
  margin-bottom: 27px;
  max-width: 520px;
}
.widget-testimonias .line {
  position: relative;
  max-width: 500px;
  height: 6px;
  background-color: var(--color-primary);
  margin-bottom: 34px;
}
.widget-testimonias .line::before {
  position: absolute;
  content: "";
  top: 0;
  border: 20px solid;
  left: 13px;
  border-color: var(--color-primary) transparent transparent transparent;
}
.widget-testimonias .user {
  display: inline-flex;
  margin-left: -16px;
  gap: 15px;
}
.widget-testimonias .infor {
  padding-top: 8px;
}
.widget-testimonias .infor h4,
.widget-testimonias .infor span {
  font-family: "Play";
  letter-spacing: -0.02em;
  color: var(--color-black);
}
.widget-testimonias .infor h4 {
  font-size: 20px;
  font-weight: 700;
}
.widget-testimonias .infor span {
  font-family: "Play";
  text-align: left;
}
/* Widget leadership 
----------------------------------------------------*/
.widget-leadership .leadership-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.widget-leadership .area-right {
  align-self: center;
  padding-top: 23px;
  padding-right: 13px;
}
.widget-leadership .area-right .widget-button {
  padding: 23px 74px 23px 24px;
}
.widget-leadership .row {
  row-gap: 10px;
}
.widget-leadership .row .col-lg-4 {
  padding: 0 15px;
}
.widget-leadership img {
  width: 100%;
}
.widget-leadership .img-wrap {
  position: relative;
}
.widget-leadership ul {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.widget-leadership ul li a {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  background-color: var(--color-white);
  border-radius: 50%;
}
.widget-leadership ul li span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-primary);
  font-size: 14px;
}
.widget-leadership ul li a,
.widget-leadership ul li a span {
  transition: all 300ms ease-in;
}
.widget-leadership ul li a:hover {
  background-color: var(--color-primary);
}
.widget-leadership ul li a:hover span {
  color: var(--color-white);
}
.widget-leadership .infor {
  position: relative;
  background-color: var(--color-primary);
  padding: 28px 26px 19px;
}
.widget-leadership .infor h4,
.widget-leadership .infor p,
.widget-leadership .infor span {
  color: var(--color-white);
}
.widget-leadership .infor h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.4px;
  margin-bottom: 10px;
}
.widget-leadership .infor p {
  font-family: "Play";
}
.widget-leadership .infor span {
  position: absolute;
  right: 50px;
  bottom: 49px;
  display: inline-block;
  transform: rotate(316deg);
  font-size: 18px;
}
/* Client partner
-----------------------------------------------------*/
.client-partner {
  width: 100%;
  background-color: var(--bg-carousel);
  cursor: default;
}
.client-partner .client-partner__container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-bottom: 10px;
}
.client-partner .client-partner__container ul,
.client-partner .client-partner__container ul > li {
  position: relative;
  display: inline-flex;
  align-items: center;
}
.client-partner .client-partner__container ul > li > h2 {
  font-size: 76px;
  font-style: italic;
  font-weight: 600;
  line-height: 90px;
  color: var(--color-white);
}
.client-partner .client-partner__container ul > li::before {
  font-family: "icomoon";
  content: "\e907";
  color: var(--color-white);
  font-size: 30px;
  margin: 0 30px;
}
.client-partner .client-partner__container ul > li:nth-child(2) h2,
.client-partner .client-partner__container ul > li:nth-child(2)::before {
  color: var(--color-primary);
}
/* Footer
------------------------------------------------------ */
.footer {
  background-color: var(--bg-footer);
  width: 100%;
  overflow: hidden;
}
.footer-widgets {
  border-bottom: 1px solid rgba(242, 242, 242, 0.07);
  padding-top: 85px;
  padding-bottom: 84px;
}
.footer-widgets .widget-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 44px;
  text-align: left;
  color: var(--color-white);
  margin-bottom: 16px;
}
.footer-widgets .area-2 {
  padding-left: 64px;
}
.footer-widgets .area-3 {
  padding-left: 84px;
}
.footer-widgets .area-1 img {
  margin-bottom: 34px;
}
.footer-widgets .area-1,
.footer-widgets .area-2 a,
.footer-widgets .area-3 a,
.footer-widgets .area-2 {
  color: var(--color-text-footer);
  font-weight: 400;
  font-size: 18px;
}
.footer-widgets .area-1 > p {
  font-size: 18px;
  line-height: 35px;
  padding-left: 6px;
  margin-bottom: 37px;
}
.footer-widgets .area-1 .widget-social {
  display: inline-flex;
  gap: 20px;
  margin-left: 5px;
}
.footer-widgets .area-1 .widget-social li a {
  display: grid;
  place-items: center;
  background-color: rgba(255, 255, 255, 0.04);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.footer-widgets .area-1 .widget-social li span {
  font-size: 11px;
}
.footer-widgets .area-1 .widget-social li > a {
  color: var(--color-white);
  transition: all 300ms linear;
}
.footer-widgets .area-1 .widget-social li:hover a {
  background-color: var(--color-primary);
  transform: translateY(-10px);
}
.footer-widgets .area-2 .widget-contact {
  padding-top: 15px;
}
.footer-widgets .area-2 .widget-contact li {
  margin-bottom: 12px;
  display: flex;
  gap: 18px;
}
.footer-widgets .area-2 .widget-contact li span {
  color: var(--color-primary);
  font-size: 17px;
}
.footer-widgets .area-2 .widget-contact li a {
  text-decoration: underline;
}
.footer-widgets .area-2 .widget-contact li a:nth-child(3) {
  margin-left: 38px;
}
.footer-widgets .area-3 .widget-menu {
  line-height: 44px;
}
.footer-copyright .widget-links li a:hover,
.footer-widgets .area-3 .widget-menu li a:hover {
  transition: color 300ms ease;
  color: var(--color-primary);
}
.footer-widgets .area-4 .widget-form__input {
  display: inline-flex;
  align-items: center;
  border-bottom: 1px solid rgba(24, 24, 24, 1);
  margin-bottom: 20px;
  width: 100%;
}
.footer-widgets .area-4 .widget-title {
  margin-bottom: 10px;
}
.footer-widgets .area-4 .widget-form__input input,
.footer-widgets .area-4 .widget-form__input button {
  margin: 0;
  border: none;
  padding: 0;
  color: var(--color-white);
  font-size: 17px;
}
.footer-widgets .area-4 .widget-form__input button:hover span {
  color: var(--color-primary);
  transition: color 300ms ease;
}
.footer-widgets .area-4 .widget-form__checkbox {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  white-space: nowrap;
}
.footer-widgets .area-4 .widget-form__checkbox input {
  display: none;
}

.footer-widgets .area-4 .widget-form__checkbox label {
  position: relative;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  transition: background-color 500ms ease-in;
  cursor: pointer;
}
.footer-widgets .area-4 .widget-form__checkbox label::after {
  background-color: #fff;
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer-widgets .area-4 .widget-form__checkbox input:checked + label::after {
  background-color: var(--color-primary);
}

.footer-copyright {
  padding: 28px 0;
  padding-left: 18px;
}
.footer-copyright .copyright {
  font-size: 18px;
  font-weight: 500;
  line-height: 23.44px;
  color: var(--color-text-footer);
}
.footer-copyright .copyright > a {
  color: var(--color-text-footer);
}
.footer-copyright .copyright > span {
  color: var(--color-primary);
}
.footer-copyright .widget-links {
  text-align: end;
  padding-right: 18px;
  line-height: 16px;
}
.footer-copyright .widget-links li {
  display: inline-flex;
  align-items: center;
}
.footer-copyright .widget-links a {
  color: var(--color-text-footer);
  line-height: 15px;
}
.footer-copyright .widget-links li:not(:last-child) > a::after {
  display: inline-block;
  content: "";
  background-color: var(--color-text-footer);
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-left: 24px;
  margin-right: 20px;
  margin-bottom: 2px;
}
