/**
  * Name: Nionx
  * Version: 1.0
  * Author: Nguyen Thanh Luong
*/
/*
  * Import
  * Root
  * Reset
  * Repeatable Patterns    
  *	Header 
  *	Slider
  *	Content
  * Footer 
*/

/* import */
@import url(icon-moon.css);
@import url(shortcodes.css);
@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

/* Root 
--------------------------------------------------- */
:root {
  --main-text: rgba(108, 106, 114, 1);
  --color-primary: #5f2dde;
  --color-white: #ffffff;
  --color-softPurple: #f4f2f9;
  --color-title: #1d1729;
  --color-active: #110e16;
  --color-text: #6c6a72;
  --color-text-comment: rgba(108, 106, 114, 1);
  --bg-footer: rgba(29, 23, 41, 1);
  --bg-social-icon: rgba(255, 255, 255, 1);
  --color-text-footer: rgba(164, 158, 181, 1);
  --color-border: rgba(217, 217, 217, 1);
  --bg-mobile-nav: #000000;
}
/* Reset
-------------------------------------------------------------- */
html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
caption,
canvas,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
form,
footer,
header,
hgroup,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
tt,
table,
tbody,
textarea,
tfoot,
thead,
time,
tr,
th,
td,
u,
ul,
var,
video {
  font-family: "Instrument Sans", sans-serif;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  quotes: none;
}

figure {
  margin: 0;
}

:focus {
  outline: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

legend {
  white-space: normal;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  max-width: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

button,
input {
  line-height: normal;
}

input,
textarea {
  background-image: -webkit-linear-gradient(
    hsla(0, 0%, 100%, 0),
    hsla(0, 0%, 100%, 0)
  ); /* Removing the inner shadow, rounded corners on iOS inputs */
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  line-height: 1;
  cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
  -webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
  border: none;
}

input[type="checkbox"],
input[type="radio"] {
  padding: 0; /* Addresses excess padding in IE8/9 */
}

input[type="search"] {
  -webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
}

input[type="search"]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Repeatable Patterns
-------------------------------------------------------------- */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #fff;
  color: var(--main-text);
}

a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: var(--main-text);
}

a:hover,
a:focus {
  color: var(--color-primary);
  text-decoration: none;
  outline: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

ul,
ol {
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.img-left {
  margin: -10px 50px 0 0 !important;
  float: left;
}

.img-right {
  margin: 0 0 0 50px !important;
  float: right;
}

b,
strong {
  font-weight: 900;
}

.entry-page p {
  margin-bottom: 25px;
}

.padding-left61px {
  padding-left: 61px;
}
.about-wrap.padding-left61px {
  padding-right: 15px;
}
.margin-top93px {
  margin-top: 93px;
}

h1 {
  font: 50px/50px "Instrument", sans-serif;
}
h2 {
  font: 45px/45px "Instrument", sans-serif;
}
h3 {
  font: 30px/30px "Instrument", sans-serif;
}
h4 {
  font: 25px/25px "Instrument", sans-serif;
}
h5 {
  font: 22px/22px "Instrument", sans-serif;
}
h6 {
  font: 20px/20px "Instrument", sans-serif;
}

h1,
h2,
h4,
h5,
h6 {
  color: var(--color-title);
  font-weight: 800;
}

button {
  border: none;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  font-size: 12px;
  font-family: "Instrument Sans", sans-serif;
  font-weight: 700;
  color: #202020;
  background-color: transparent;
  text-transform: uppercase;
  border-width: 1px;
  border-style: solid;
  border-color: #202020;
  padding: 7px 21px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  width: 100%;
  font-style: italic;
  font-size: 14px;
  border: 1px solid #e5e5e5;
  color: #a0a0a0;
  background-color: transparent;
  height: 50px;
  padding: 12px 30px;
  border-radius: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

textarea {
  width: 100%;
  height: 166px;
  padding: 15px 30px;
}

input[type="checkbox"] {
  display: inline;
}

textarea:-moz-placeholder,
textarea::-moz-placeholder,
input:-moz-placeholder,
input::-moz-placeholder {
  color: #a0a0a0;
  opacity: 1;
}

input:-ms-input-placeholder {
  color: #a0a0a0;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
  color: #a0a0a0;
  opacity: 1;
}

/* bootstrap resetting elements */
.btn {
  background-image: none;
}

textarea,
input[type="text"],
input[type="submit"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input,
.dropdown-menu,
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  -webkit-appearance: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  color: #a0a0a0;
}
/* Test
-------------------------------------------------------------- */
.wrap-review {
  position: relative;
  background-color: #ffefea;
  width: 100%;
  padding-top: 160px;
  padding-bottom: 228px;
  overflow: hidden;
  list-style: none;
}
.wrap-review .heading {
  padding-bottom: 40px;
  text-align: center;
}
.wrap-review .title {
  color: #131836;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  padding-bottom: 30px;
}
.wrap-review .content {
  color: #585d69;
  font-size: 15px;
  font-weight: 400;
}
.slider-wrapper {
  position: relative;
  margin: 0 -10%;
}
.list-card .card-item {
  background-color: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0px 1px 4px 0px #404f680d;
  width: 447px;
  opacity: 0.5;
}
.list-card .swiper-slide-next,
.list-card .swiper-slide-next + li,
.list-card .swiper-slide-next + li + li {
  opacity: 1;
}
.list-card .card-item .profile img {
  width: 80px;
  height: 80px;
  border-radius: 30px;
}
.list-card .card-item .profile {
  display: inline-flex;
  align-items: center;
  gap: 30px;
  padding-bottom: 40px;
}
.list-card .card-item .name {
  font-weight: 400;
  color: #131836;
}
.list-card .card-item .name h5 {
  font-size: 18px;
  line-height: 30px;
}
.list-card .card-item .name p {
  font-size: 14px;
  line-height: 28px;
}
.list-card .card-item .text-review {
  line-height: 28px;
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 40px;
}
.wrap-star {
  display: flex;
  justify-content: space-between;
}
.wrap-star .list-star li {
  display: inline-block;
}
.wrap-star .list-star + span {
  font-size: 25px;
}
.swiper-pagination {
  bottom: -70px !important;
}
.swiper-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  opacity: 1;
  background-color: #110e16;
}
.swiper-pagination .swiper-pagination-bullet-active-main {
  position: relative;
  background-color: transparent;
  border: 1px solid #110e16;
  padding: 10px;
  top: 6px;
}
.swiper-pagination .swiper-pagination-bullet-active-main::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  background-color: black;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/* mobile */
@media (max-width: 768px) {
  .slider-wrapper {
    margin: 0 10px 40px;
  }
  .list-card .card-item {
    opacity: 1;
  }
  .swiper-pagination {
    display: none;
  }
}
/* tablet */
@media (max-width: 1024px) {
  .list-card .card-item {
    opacity: 1;
  }
  .swiper-pagination {
    display: none;
  }
}
/* Header
-------------------------------------------------------------- */
.boxed {
  overflow: hidden;
  height: 100vh;
  width: 100%;
}
.header-boxed {
  width: 100%;
}
.container-fluid {
  padding: 0 50px;
}
.topbar {
  display: none;
  padding: 14px 0;
  font-size: 14px;
  font-weight: 500;
  background-color: var(--color-softPurple);
}
.topbar-inner {
  display: flex;
  justify-content: space-between;
}
.topbar-left,
.topbar-right,
.topbar-social {
  display: flex;
  align-items: center;
}
.topbar-left li:last-child {
  margin-left: 33px;
}
.topbar-left__icon,
.topbar-right__icon {
  color: var(--color-primary);
}
.topbar-right .topbar-text {
  padding-right: 50px;
}
.topbar-social {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--color-white);
  padding: 14px 0;
  padding-left: 70px;
  margin: -14px 0;
}
.topbar-social li + li {
  margin-left: 23.83px;
}
.topbar-social::before {
  content: "";
  position: absolute;
  background-color: var(--color-softPurple);
  height: 100%;
  width: 20px;
  left: 0%;
  top: 0%;
  border-top-right-radius: 70px;
}
.topbar-social::after {
  content: "";
  position: absolute;
  background-color: var(--color-white);
  height: 100%;
  width: 9000px;
  left: 100%;
  top: 0%;
}
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  width: auto;
}
.header-nav {
  display: none;
  margin-left: 175.6px;
  margin-right: auto;
}
.header-nav .header-nav__list {
  display: flex;
  gap: 38px;
}
.header-nav .header-nav__list .header-subnav {
  position: relative;
  padding-top: 41px;
  padding-bottom: 39px;
}
.header-nav .header-nav__list .subnav-content {
  position: absolute;
  top: 100%;
  left: -25px;
  min-width: 232px;
  background-color: var(--color-softPurple);
  padding: 20px;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  transform-origin: top center;
  transform: scaleY(0);
  transition: all 0.4s ease-in-out;
}
.header-nav .header-nav__list .header-subnav:hover .subnav-content {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
}
.header-subnav .subnav-content li {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px 20px;
  transition: 400ms;
}
.header-subnav .subnav-content li a {
  font-size: 14px;
  font-weight: 500;
  display: flex;
}
.header-subnav .subnav-content li:hover {
  background-color: var(--color-white);
  color: var(--color-primary);
}

.header-nav .header-nav__list > .header-subnav > a {
  font-weight: 500;
}
.header-nav .header-nav__list > .header-subnav.current > a {
  font-weight: 600;
}
.header-nav .header-nav__list > .header-subnav.current > a,
.header-nav .header-nav__list > .header-subnav:hover > a {
  color: var(--color-title);
}
.header-right,
.header-right .header-right__infor,
.header-right .infor-call {
  display: flex;
  align-items: center;
}
.header-right .header-contact__btn {
  display: none;
  color: var(--color-title);
  background-color: var(--color-softPurple);
  padding: 15px 20px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 10px;
  margin-right: 60px;
}
.header-right .header-right__infor {
  position: relative;
  padding: 28px 0 28px 50px;
  background-color: var(--color-primary);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.header-right .header-right__infor::after {
  position: absolute;
  content: "";
  background-color: var(--color-primary);
  width: 9999999px;
  height: 100%;
  top: 0;
  left: 100%;
  z-index: -1;
}
.header-right .header-right__infor .infor-call {
  gap: 18px;
  padding-right: 41px;
  border-right: 1px solid #9979ea;
  margin-right: 30px;
}
.header-right .header-right__infor .infor-call__icon {
  background-color: var(--color-white);
  width: 39px;
  height: 39px;
  font-size: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in-out;
  color: var(--color-primary);
}
.header-right .header-right__infor .infor-call__icon:hover {
  background-color: black;
  color: var(--color-white);
}

.header-right__infor .infor-call__content .infor-call__content__text,
.header-right__infor .infor-call__content .infor-call__content__call {
  color: var(--color-white);
}

.header-right__infor .infor-call__content .infor-call__content__text {
  font-size: 13px;
  font-weight: 500;
  line-height: 23px;
}
.header-right__infor .infor-call__content .infor-call__content__call {
  font-size: 18px;
  font-weight: 800;
  line-height: 30px;
}
.header-right__infor .search,
.header-right__infor .profile {
  color: var(--color-white);
  font-size: 20px;
}
.header-right__infor .search {
  margin-right: 20px;
}
/* navbar menu mobile */
.mobile-nav__content {
  background-color: var(--bg-mobile-nav);
  padding: 30px 15px;
  width: 300px;
  height: 100%;
}
.logo-box {
  margin-bottom: 40px;
}
.logo-box a img {
  width: 155px;
  height: 44px;
}
.mobile-nav__close {
  position: absolute;
  content: "";
  color: var(--color-white);
  border: none;
  font-size: 20px;
  outline: none;
  right: 15px;
  top: 20px;
}
.mobile-nav__close:hover {
  color: var(--color-primary);
}
.mobile-nav__cotainer .mobile-nav-subnav {
  
}
