/**
  * Name: Nionx
  * Version: 1.0
  * Author: Nguyen Thanh Luong
*/
/*
  * Import
  * Root
  * Reset
  * Repeatable Patterns    
  *	Header 
  *	Page header
  *	Main content
  * Footer 
  * Mobile nav menu 
*/

/* import */
@import url(icon-moon.css);
@import url(shortcodes.css);
@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

/* Root 
--------------------------------------------------- */
:root {
  --main-text: rgba(108, 106, 114, 1);
  --color-primary: #5f2dde;
  --color-white: #ffffff;
  --color-softPurple: #f4f2f9;
  --color-title: #1d1729;
  --color-active: #110e16;
  --color-text: #6c6a72;
  --color-text-comment: rgba(108, 106, 114, 1);
  --bg-footer: rgba(29, 23, 41, 1);
  --bg-social-icon: rgba(255, 255, 255, 1);
  --color-border-btn: rgba(255, 255, 255, 1);
  --color-text-footer: rgba(164, 158, 181, 1);
  --color-border: rgba(217, 217, 217, 1);
  --bg-mobile-nav: #000000;
}
/* Reset
-------------------------------------------------------------- */
html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
caption,
canvas,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
form,
footer,
header,
hgroup,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
tt,
table,
tbody,
textarea,
tfoot,
thead,
time,
tr,
th,
td,
u,
ul,
var,
video {
  font-family: "Instrument Sans", sans-serif;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  quotes: none;
}

figure {
  margin: 0;
}

:focus {
  outline: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

legend {
  white-space: normal;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  max-width: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

button,
input {
  line-height: normal;
}

input,
textarea {
  background-image: -webkit-linear-gradient(
    hsla(0, 0%, 100%, 0),
    hsla(0, 0%, 100%, 0)
  ); /* Removing the inner shadow, rounded corners on iOS inputs */
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  line-height: 1;
  cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
  -webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
  border: none;
}

input[type="checkbox"],
input[type="radio"] {
  padding: 0; /* Addresses excess padding in IE8/9 */
}

input[type="search"] {
  -webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
}

input[type="search"]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Repeatable Patterns
-------------------------------------------------------------- */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #fff;
  color: var(--main-text);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: var(--main-text);
}

a:hover,
a:focus {
  color: var(--color-primary);
  text-decoration: none;
  outline: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

ul,
ol {
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.img-left {
  margin: -10px 50px 0 0 !important;
  float: left;
}

.img-right {
  margin: 0 0 0 50px !important;
  float: right;
}

b,
strong {
  font-weight: 900;
}

.entry-page p {
  margin-bottom: 25px;
}

.padding-left61px {
  padding-left: 61px;
}
.about-wrap.padding-left61px {
  padding-right: 15px;
}
.margin-top93px {
  margin-top: 93px;
}

h1 {
  font: 50px/50px "Instrument", sans-serif;
}
h2 {
  font: 45px/45px "Instrument", sans-serif;
}
h3 {
  font: 30px/30px "Instrument", sans-serif;
}
h4 {
  font: 25px/25px "Instrument", sans-serif;
}
h5 {
  font: 22px/22px "Instrument", sans-serif;
}
h6 {
  font: 20px/20px "Instrument", sans-serif;
}

h1,
h2,
h4,
h5,
h6 {
  color: var(--color-title);
  font-weight: 800;
}

button {
  border: none;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  font-size: 12px;
  font-family: "Instrument Sans", sans-serif;
  font-weight: 700;
  color: #202020;
  background-color: transparent;
  text-transform: uppercase;
  border-width: 1px;
  border-style: solid;
  border-color: #202020;
  padding: 7px 21px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  width: 100%;
  font-style: italic;
  font-size: 14px;
  border: 1px solid #e5e5e5;
  color: #a0a0a0;
  background-color: transparent;
  height: 50px;
  padding: 12px 30px;
  border-radius: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

textarea {
  width: 100%;
  height: 166px;
  padding: 15px 30px;
}

input[type="checkbox"] {
  display: inline;
}

textarea:-moz-placeholder,
textarea::-moz-placeholder,
input:-moz-placeholder,
input::-moz-placeholder {
  color: #a0a0a0;
  opacity: 1;
}

input:-ms-input-placeholder {
  color: #a0a0a0;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
  color: #a0a0a0;
  opacity: 1;
}

/* bootstrap resetting elements */
.btn {
  background-image: none;
}
.container {
  max-width: 1200px;
}

textarea,
input[type="text"],
input[type="submit"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input,
.dropdown-menu,
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  -webkit-appearance: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  color: #a0a0a0;
}
/* Test
-------------------------------------------------------------- */
.wrap-review {
  position: relative;
  background-color: #ffefea;
  width: 100%;
  padding-top: 160px;
  padding-bottom: 228px;
  overflow: hidden;
  list-style: none;
}
.wrap-review .heading {
  padding-bottom: 40px;
  text-align: center;
}
.wrap-review .title {
  color: #131836;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  padding-bottom: 30px;
}
.wrap-review .content {
  color: #585d69;
  font-size: 15px;
  font-weight: 400;
}
.slider-wrapper {
  position: relative;
  margin: 0 -10%;
}
.list-card .card-item {
  background-color: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0px 1px 4px 0px #404f680d;
  width: 447px;
  opacity: 0.5;
}
.list-card .swiper-slide-next,
.list-card .swiper-slide-next + li,
.list-card .swiper-slide-next + li + li {
  opacity: 1;
}
.list-card .card-item .profile img {
  width: 80px;
  height: 80px;
  border-radius: 30px;
}
.list-card .card-item .profile {
  display: inline-flex;
  align-items: center;
  gap: 30px;
  padding-bottom: 40px;
}
.list-card .card-item .name {
  font-weight: 400;
  color: #131836;
}
.list-card .card-item .name h5 {
  font-size: 18px;
  line-height: 30px;
}
.list-card .card-item .name p {
  font-size: 14px;
  line-height: 28px;
}
.list-card .card-item .text-review {
  line-height: 28px;
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 40px;
}
.wrap-star {
  display: flex;
  justify-content: space-between;
}
.wrap-star .list-star li {
  display: inline-block;
}
.wrap-star .list-star + span {
  font-size: 25px;
}
.swiper-pagination {
  bottom: -70px !important;
}
.swiper-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  opacity: 1;
  background-color: #110e16;
}
.swiper-pagination .swiper-pagination-bullet-active-main {
  position: relative;
  background-color: transparent;
  border: 1px solid #110e16;
  padding: 10px;
  top: 6px;
}
.swiper-pagination .swiper-pagination-bullet-active-main::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  background-color: black;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/* mobile */
@media (max-width: 768px) {
  .slider-wrapper {
    margin: 0 10px 40px;
  }
  .list-card .card-item {
    opacity: 1;
  }
  .swiper-pagination {
    display: none;
  }
}
/* tablet */
@media (max-width: 1024px) {
  .list-card .card-item {
    opacity: 1;
  }
  .swiper-pagination {
    display: none;
  }
}
/* test cart */
.cart-boxed {
  position: relative;
}
.minar-overlay {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: all 1s ease-in-out;
}
.minar-overlay.active-overlay {
  opacity: 1;
  visibility: visible;
}
.box1 .image {
  width: 100%;
  height: 300px;
  background-color: gainsboro;
}
.nav-shop-cart {
  position: fixed;
  content: "";
  right: 0;
  top: 0;
  bottom: 0;
  background-color: white;
  width: 480px;
  max-width: 100%;
  z-index: 999999;
  transform: translateX(100%);
  transition: all 1s ease 0s;
}
.nav-shop-cart.active-cart {
  transform: translateX(0);
}

.nav-shop-cart__header {
  position: relative;
  padding: 24px 25px 26px 22px;
  font-size: 18px;
  color: #121212;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
}
.nav-shop-cart__list {
  padding: 0 20px;
}
.nav-shop-cart__item {
  display: flex;
  align-items: center;
  padding: 20px 0;
  border: none;
  border-bottom: 1px solid #e9e9e9;
  text-align: left;
}
.nav-shop-cart__item .img {
  width: 100px;
  height: 100px;
  background-color: #f7f7f7;
}
.nav-shop-cart__item .title {
  flex-grow: 1;
  margin: 0 15px;
}
.wrap-remove {
  flex-shrink: 0;
  text-align: right;
}
.wrap-remove__btn {
  display: block;
}
.wrap-remove .quantity {
  color: #121212;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

/* Header
-------------------------------------------------------------- */
.boxed {
  overflow-x: hidden;
  height: 100vh;
  width: 100%;
}
.header-boxed {
  width: 100%;
}
.container-fluid {
  padding: 0 50px;
}
.topbar {
  display: none;
  padding: 14px 0;
  font-size: 14px;
  font-weight: 500;
  background-color: var(--color-softPurple);
}
.topbar-inner {
  display: flex;
  justify-content: space-between;
}
.topbar-left,
.topbar-right,
.topbar-social {
  display: flex;
  align-items: center;
}
.topbar-left li:last-child {
  margin-left: 33px;
}
.topbar-left__icon,
.topbar-right__icon {
  color: var(--color-primary);
}
.topbar-right .topbar-text {
  padding-right: 50px;
}
.topbar-social {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--color-white);
  padding: 14px 0;
  padding-left: 70px;
  margin: -14px 0;
}
.topbar-social li + li {
  margin-left: 23.83px;
}
.topbar-social::before {
  content: "";
  position: absolute;
  background-color: var(--color-softPurple);
  height: 100%;
  width: 20px;
  left: 0%;
  top: 0%;
  border-top-right-radius: 70px;
}
.topbar-social::after {
  content: "";
  position: absolute;
  background-color: var(--color-white);
  height: 100%;
  width: 9000px;
  left: 100%;
  top: 0%;
}
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  width: auto;
}
.header-nav {
  display: none;
  margin-left: 175.6px;
  margin-right: auto;
}
.header-nav .header-nav__list {
  display: flex;
  gap: 38px;
}
.header-nav .header-nav__list .header-subnav {
  position: relative;
  padding-top: 41px;
  padding-bottom: 39px;
}
.header-nav .header-nav__list .subnav-content {
  position: absolute;
  top: 100%;
  left: -25px;
  min-width: 232px;
  background-color: var(--color-softPurple);
  padding: 20px;
  border-radius: 10px;
  opacity: 0;
  transform-origin: top center;
  transform: scaleY(0);
  transition: all 0.4s ease-in-out;
  z-index: 9999;
}
.header-nav .header-nav__list .header-subnav:hover .subnav-content {
  opacity: 1;
  transform: scaleY(1);
}
.header-subnav .subnav-content li {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px 20px;
  transition: 400ms;
}
.header-subnav .subnav-content li a {
  font-size: 14px;
  font-weight: 500;
  display: flex;
}
.header-subnav .subnav-content li:hover {
  background-color: var(--color-white);
  color: var(--color-primary);
}

.header-nav .header-nav__list > .header-subnav > a {
  font-weight: 500;
}
.header-nav .header-nav__list > .header-subnav.current > a {
  font-weight: 600;
}
.header-nav .header-nav__list > .header-subnav.current > a,
.header-nav .header-nav__list > .header-subnav:hover > a {
  color: var(--color-title);
}
.header-right,
.header-right .infor-call {
  display: flex;
  align-items: center;
}
.header-right .header-contact__btn {
  position: relative;
  display: none;
  color: var(--color-title);
  background-color: var(--color-softPurple);
  padding: 15px 20px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 10px;
  margin-right: 60px;
  overflow: hidden;
  z-index: 11;
}
.header-right .header-contact__btn:hover {
  background-color: var(--color-title);
  color: var(--color-white);
  transition: all .3s ease-in;
}
.header-right .header-contact__btn::before {
  content: "";
  width: 0%;
  height: 100%;
  background: var(--color-primary);
  position: absolute;
  transition: all .4s ease-in-out;
  inset: 0;
  z-index: -1;
}
.header-right .header-contact__btn:hover::before {
  width: 100%;
  left: auto;
}
.header-right .header-right__infor {
  display: none;
  align-items: center;
  position: relative;
  padding: 28px 0 28px 50px;
  background-color: var(--color-primary);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.header-right .header-right__infor::after {
  position: absolute;
  content: "";
  background-color: var(--color-primary);
  width: 9999999px;
  height: 100%;
  top: 0;
  left: 100%;
  z-index: -1;
}
.header-right .header-right__infor .infor-call {
  gap: 18px;
  padding-right: 41px;
  border-right: 1px solid #9979ea;
  margin-right: 30px;
}
.header-right .header-right__infor .infor-call__icon {
  background-color: var(--color-white);
  width: 39px;
  height: 39px;
  font-size: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in-out;
  color: var(--color-primary);
}
.header-right .header-right__infor .infor-call__icon:hover {
  background-color: black;
  color: var(--color-white);
}

.header-right__infor .infor-call__content .infor-call__content__text,
.header-right__infor .infor-call__content .infor-call__content__call {
  color: var(--color-white);
}

.header-right__infor .infor-call__content .infor-call__content__text {
  font-size: 13px;
  font-weight: 500;
  line-height: 23px;
}
.header-right__infor .infor-call__content .infor-call__content__call {
  font-size: 18px;
  font-weight: 800;
  line-height: 30px;
}
.header-right__infor .search,
.header-right__infor .profile {
  color: var(--color-white);
  font-size: 20px;
}
.header-right__infor .search {
  margin-right: 20px;
}
/* Page header
-------------------------------------------------------------- */
.page-header {
  position: relative;
  width: 100%;
  height: 398px;
  background-color: black;
}
.page-header__bg {
  position: absolute;
  inset: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/header_bg.jpg);
}
.page-header__bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(29, 23, 41, 0.55);
}
.page-header__container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--color-white);
}
.page-header__container .page-header__title {
  font-size: 50px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: -0.03em;
  color: var(--color-white);
}
.page-header__container .page-header__breadcrumb {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 13px;
  border-radius: 12px;
  border: 1px solid var(--color-border-btn);
  padding: 0px 30px;
  margin-top: 17px;
}
.page-header__breadcrumb li {
  position: relative;
  color: var(--color-white);
  font-size: 16px;
  font-weight: 500;
  padding: 18px 0;
}
.page-header__breadcrumb li:not(:last-child)::after {
  position: relative;
  content: "/";
  top: 0;
  margin: 0 3px;
}
.page-header__breadcrumb li a {
  color: inherit;
}
.page-header__breadcrumb li a:hover {
  color: var(--color-primary);
}
/* Main content
-------------------------------------------------------------- */
.main-content {
  padding-top: 120px;
  padding-bottom: 128px;
}
.row {
  --bs-gutter-x: 30px;
  --bs-gutter-y: 30px;
}
.blog-card {
  position: relative;
  height: 519px;
  overflow: hidden;
  transition: all .4s linear;
}
.blog-card__img {
  position: relative;
  height: 80%;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  overflow: hidden;
}
.blog-card__img img:nth-child(1),
.blog-card__img img:nth-child(2) {
  transition: all 350ms linear;
  object-fit: cover;
}
 .blog-card__img img:nth-child(1) {
  width: 100%;
  height: 100%;
  transform: translatex(50%) scale(1);
  opacity: 0;
  filter: blur(10px);
}
.blog-card__img img:nth-child(2) {
  position: absolute;
  inset: 0;
  width: 100%;
}
.blog-card:hover .blog-card__img img:nth-child(1) {
  transform: translateX(0); 
  opacity: 1;  
  filter: none;
}
.blog-card:hover .blog-card__img img:nth-child(2) {
  transform: translateX(-100%);
  filter: blur(10px);
}
.blog-card__img__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 350ms linear;
}
.blog-card__img__link::after, 
.blog-card__img__link::before {
  position: absolute;
  content: "";
  display: block;
  width: 32px;
  height: 2px;
  background-color: var(--color-white);
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
}
.blog-card__img__link::before {
  transform: translate(-50%, -50%) rotate(90deg);
}
.blog-card:hover .blog-card__img__link {
  opacity: 1;
  height: 100%;
 }
.blog-card__content {
  position: relative;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: var(--color-white);
  border: 1px solid var(--color-softPurple);
  border-radius: 40px;
  padding: 19px 30px 30px 30px;
  transform: translateY(-58%);
  z-index: 11;
  cursor: pointer;
}
.blog-card__content::before {
  position: absolute;
  content: "";
  inset: -1.5px;
  border-radius: 40px;
  background-color: var(--color-primary);
  transform-origin: center;
  transform: scaleY(0);
  transition: all .4s ease-in-out;
  opacity: 0;
  z-index: -1;
}
.blog-card:hover .blog-card__content::before{
  transform: scaleY(1);
  opacity: 1;
}
.blog-card:hover .blog-card__date {
  background-color: var(--color-white);
  color: var(--color-title);
}
.blog-card:hover .blog-card__title a,
.blog-card:hover .blog-card__content__btn a,
.blog-card:hover .blog-card__content__btn a span,
.blog-card:hover .blog-card__meta a,
.blog-card:hover .blog-card__meta a span
{
  transition: all .4s ease;
  color: white;
}
.blog-card__meta {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 19.57px;
}
.blog-card__meta a span {
  color: var(--color-primary);
  font-size: 14px;
  font-weight: 500;
}
.blog-card__date {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 79px;
  padding: 16px 0px;
  background-color: var(--color-primary);
  color: var(--color-white);
  z-index: 10;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  border-radius: 10px;
  margin-top: -57px;
 }
.blog-card__day {
  font-size: 20px;
}
.blog-card__title {
  padding-bottom: 0px;
  margin-bottom: 12px;
  max-width: 297px;
}
.blog-card__title a {
  color: var(--color-title);
  font-size: 22px;
  font-weight: 700;
  transition: all 500ms ease;
  background: linear-gradient(to right, currentcolor,currentcolor) 0px 95% / 0px 1px no-repeat;
}
.blog-card__title a:hover {
  background-size: 100% 1px;
  color: var(--color-white);
}
.blog-card__content__btn {
  position: relative;
  border-top: 1px;
  border-style: solid;
  border-color: #d9d9d9;
  padding-top: 20px;
}
.blog-card__content__btn a {
  display: block;
  color: var(--main-text);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
}
.blog-card__content__btn a span {
  position: absolute;
  right: 0;
  top: calc(50% + 2px);
  font-size: 14px;
  color: var(--color-primary);
}
/* Footer
-------------------------------------------------------------- */
.footer {
  background-color: var(--bg-footer);
}
.footer-top__inner {
  padding: 70px 0px 43.77px 0px;
  border-bottom: 1px solid #342e3e;
}
.footer-logo img {
  width: 150px;
  height: 44px;
}
.footer-social__icon {
  display: flex;
  align-items: center;
  float: right;
  gap: 19.05px;
}
.footer-social__icon li {
  background-color: var(--color-white);
}
.footer-social__icon li {
  width: 35.71px;
  height: 35.71px;
  border-radius: 14px;
  transition: background 300ms ease-in-out;
}
.footer-social__icon li a {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.footer-social__icon li a span {
  color: var(--color-title);
}
.footer-social__icon li:hover {
  background-color: var(--color-primary);
}
.footer-social__icon li:hover a span{
  color: var(--color-white);
}
.footer__middle {
  padding-top: 80.79px;
  padding-bottom: 127.84px;
}
.footer-widget .footer-widget__title {
  size: 18px;
  font-weight: 700;
  line-height: 29.41px;
  color: var(--color-white);
  margin-bottom: 30px;
}
.footer-widget__links .footer-widget__item {
  margin-bottom: 7px;
}
.footer-widget__links .footer-widget__item a,
.footer-widget__infor .footer-widget__item a,
.footer-widget__infor span {
  font-weight: 600;
  font-size: 16px;
  color: var(--color-text-footer);
  line-height: 29.41px;
}
.footer-widget__item a {
  background: linear-gradient(to right, currentcolor, currentcolor) 0% 95% / 0px 1px no-repeat;
}
.footer-widget__item a:hover {
  background-size: 100% 1px;
  color: var(--color-white);
}
.footer-widget__infor .footer-widget__item span {
  color: var(--color-primary);
  margin-right: 15.69px;
}
.footer-widget .footer-widget__newletters input {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 1);
}
.footer-widget__newletters button {
  position: relative;
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 19px 46px;
  margin-top: 12px;
  font-weight: 600;
  text-transform: none;
  line-height: 18px;
  border-radius: 20px;
  font-size: 16px;
  z-index: 1;
  overflow: hidden;
}
.footer-widget__newletters button:hover {
  color: var(--color-title);
}
.footer-widget__newletters button::before {
  position: absolute;
  content: "";
  inset: 0;
  width: 0%;
  height: 100%;
  transition: all 300ms ease-in-out;
}
.footer-widget__newletters button:hover::before {
  left: auto;
  background-color: var(--color-white);
  width: 100%;
  z-index: -1;
}

.footer__bottom {
  background-color: #110e16;
  width: 100%;
}
.footer__botton__inner {
  padding: 30px 0;
}
.footer__botton__copyright {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
  text-align: center;
}

/* Mobile nav menu 
-------------------------------------------------------------- */
body {
  padding-right: 0 !important;
}
.modal-backdrop {
  width: 0;
  transition: all 200ms linear;
  transition-delay: 400ms;
  margin-right: -17px;
}
.modal-backdrop.show {
  width: 100vw;
  left: 0;
  transition-delay: 0ms;
}
.mobile-nav__content.show {
  transition-duration: 200ms;
  transition-delay: 400ms;
}
.mobile-menu-btn__navbar {
  display: flex;
  margin-left: 20px;
  width: 24px;
  align-items: center;
  flex-direction: column;
}
.mobile-menu-btn__navbar span {
  width: 100%;
  height: 2px;
  background-color: var(--bg-mobile-nav);
  border-radius: 50%;
  margin-bottom: 4px;
}
.mobile-nav__content {
  background-color: var(--bg-mobile-nav);
  padding: 30px 15px;
  height: 100%;
  width: fit-content;
  overflow-y: auto;
}
 
.logo-box {
  margin-bottom: 40px;
}
.logo-box a img {
  width: 155px;
  height: 44px;
}
.mobile-nav__close {
  position: absolute;
  content: "";
  color: var(--color-white);
  border: none;
  font-size: 20px;
  outline: none;
  right: 15px;
  top: 20px;
}
.mobile-nav__close:hover {
  color: var(--color-primary);
}
.mobile-nav__cotainer .mobile-nav-subnav {
  width: 270px;
  border-bottom: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.1);
  height: 46px;
  line-height: 46px;
}
.mobile-nav__cotainer .mobile-nav-subnav.active {
  height: fit-content;
}

.mobile-nav__cotainer .mobile-nav-subnav:last-child {
  border: none;
}
.mobile-nav__cotainer .mobile-nav-subnav a,
.mobile-nav__cotainer .mobile-nav-subnav button {
  color: var(--color-white);
  font-size: 14px;
  font-weight: 500;
  transition: 500ms;
  padding: 0;
  text-transform: capitalize;
  border: none;
}
.mobile-nav__cotainer .mobile-nav-subnav button {
  display: inline-flex;
  width: 100%;
  align-items: center;
}
.mobile-nav__cotainer .mobile-nav-subnav button span {
  margin-left: auto;
  text-align: center;
  line-height: 30px;
  width: 30px;
  height: 30px;
  background-color: var(--color-primary);
  color: var(--color-white);
  transition: all 300ms ease;
}
.mobile-nav__cotainer .mobile-nav-subnav.active button span {
  transform: rotate(90deg);
  background-color: var(--color-white);
  color: var(--color-title);
}
.mobile-nav__cotainer .mobile-nav-subnav .subnav-content {
  display: block;
  transition: all 200ms ease-in-out;
  transform-origin: top;
}
.mobile-nav__cotainer .mobile-nav-subnav li{
  height: 46px;
  line-height: 46px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.mobile-nav__cotainer .mobile-nav-subnav li a{
  padding-left: 20px;
} 
.mobile-nav__cotainer .mobile-nav-subnav .subnav-content {
  display: none;
}
.mobile-nav__cotainer .mobile-nav-subnav.active .subnav-content {
  display: block;
  transition: all 300ms linear;
}
.mobile-nav__cotainer .mobile-nav-subnav.active button {
  color: var(--color-primary);
  padding-bottom: 12px;
  width: 100%;
  text-align: start;
}

.mobile-nav__contact {
  margin: 20px 0;
}
.mobile-nav__contact li {
  display: flex;
  align-items: center;
  color: var(--color-white);
}
.mobile-nav__contact li + li {
  margin-top: 15px;
}
.mobile-nav__contact li span {
  color: inherit;
  background-color: var(--color-primary);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  margin-right: 10px;
}
.mobile-nav__contact li a {
  color: inherit;
  transition: 500ms;
}
.mobile-nav__contact a:hover {
  color: var(--color-primary);
}
.mobile-nav__social {
  display: flex;
  align-items: center;
}
.mobile-nav__social li a {
  color: var(--color-white);
}
.mobile-nav__social li + li {
  margin-left: 20px;
}
