/* blog content */
.blog-container {
  gap: 30px;
}
.blog-container .wrap-content {
  gap: 50px;
}
.blog-container .blog-content {
  max-width: 770px;
  width: 100%;
}
.blog-container .blog-content .warap-img {
  position: relative;
  margin-bottom: 20px;
}
.blog-container .blog-content .warap-img img {
  width: 100%;
  height: 449px;
  border-radius: 40px;
}
.blog-container .blog-content .warap-img .blog-content-date {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 40px 0px 40px 0px;
  height: 88px;
  width: 107px;
}
.blog-container .blog-content .warap-img .blog-content-date strong {
  font-size: 32px;
  line-height: 40px;
}
.blog-container .blog-content .warap-img .blog-content-date span {
  font-size: 32px;
  line-height: 25px;
  font-weight: 500;
  font-size: 16px;
}
.blog-content .author {
  padding-right: 14px;
  border-right: 1px;
  border-style: solid;
  border-color: var(--color-border);
}
.blog-content .qtComment {
  padding-left: 14px;
}
.blog-content .author span:last-child,
.blog-content .qtComment span:last-child {
  font-weight: 500;
  font-size: 14px;
}
.blog-title {
  margin-top: 29px;
}
.blog-content .button-readmore {
  font-weight: 600;
  padding: 14px 40px;
  width: fit-content;
  text-decoration: none;
}
/* blog right */
.blog-right--title {
  font-weight: 700;
  line-height: 26px;
  font-size: 24px;
  padding-bottom: 30px;
  border-bottom: 1px;
  border-color: var(--color-primary);
  border-style: solid;
}
.blog-right--boxshadow {
  padding: 40px;
  box-shadow: 0px 0px 60px 0px rgba(2, 2, 2, 0.07);
}
.blog-right {
  gap: 30px;
}
.blog-right .search {
  padding: 30px;
  background-color: var(--color-softPurple);
  border-radius: 6px;
}
.blog-right .search .search-input {
  padding: 20px;
  border-radius: 6px;
  background-color: var(--color-white);
}
.blog-right .search .search-input input {
  border: none;
  outline: none;
  padding: 0;
  font-style: normal;
  height: fit-content;
}
.blog-right .search .search-input span {
  font-size: 30px;
  color: var(--color-text-comment);
}
.blog-right .latest-post .list-post {
  padding-top: 30px;
  padding-left: 0;
}
.blog-right .latest-post ul {
  gap: 16px;
}
.latest-post .list-post li,
.blog-right .categories li {
  padding-bottom: 20px;
  border-bottom: 1px;
  border-style: solid;
  border-color: var(--color-border);
}
.latest-post .list-post li:hover {
  opacity: 0.8;
  transition: all 0.3 ease;
}
.latest-post .list-post li:last-child,
.blog-right .categories li:last-child {
  border: none;
}
.latest-post .list-post .wrap-content {
  padding-left: 20px;
}
.latest-post .list-post .wrap-content span:last-child {
  font-weight: 500;
  color: var(--color-text-comment);
}
.latest-post .list-post .wrap-content h5 {
  color: var(--color-title);
  font-weight: 700;
  line-height: 20px;
}
/* categries */
.blog-right .categories li p {
  margin-bottom: 0;
  padding-left: 8px;
  color: var(--color-text-comment);
  font-weight: 500;
}
.blog-right .categories li:hover p {
  color: var(--color-title);
}
.blog-right .categories ul {
  gap: 16px;
  margin-bottom: 0;
  padding: 30px 0 0 0;
}
/* tags */
.blog-right .tags div {
  padding-top: 30px;
}
.blog-right .tags button {
  display: inline-flex;
  margin: 0 8px 8px 0;
}
.blog-right .comments ul li {
  padding-bottom: 34px;
}
.blog-right .comments ul li:last-child {
  padding-bottom: 0;
}
.blog-right .comments a {
  gap: 14px;
}
.blog-right .comments span {
  display: block;
  padding: 10px;
  border-radius: 50%;
  background-color: var(--color-softPurple);
  font-size: 21px;
  transition: all 0.3s ease-in-out;
}
.blog-right .comments ul li:hover span {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.blog-right .comments p {
  margin-bottom: 0;
  padding-left: 8px;
  font-weight: 500;
  font-size: 14px;
  color: var(--color-text-comment);
  line-height: 26px;
}
