/* 
    * color
    * icon
    * container
    * button
    * title
    * other
*/

/* color */
.color-primary {
  color: var(--color-primary);
}
/* icon */
.icon-center,
.content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* container */
.container-pc {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}
/* button */
.button-primary {
  position: relative;
  color: var(--color-title);
  background-color: var(--color-softPurple);
  padding: 10px 20px;
  font-weight: 500;
  font-size: 14px;
  border-radius: 10px;
  border: none;
  overflow: hidden;
}
.button-primary-2 {
  position: relative;
  color: var(--color-white);
  background-color: var(--color-primary);
  padding: 10px 40px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 20px;
  border: 0.5px solid var(--color-primary);
  overflow: hidden;
}
.button-animate,
.button-animate-2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.button-animate::after {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.button-animate-2::after {
  background-color: var(--color-white);
  color: var(--color-title);
}
.button-animate::after {
  border-radius: 10px;
}
.button-animate-2::after {
  border-radius: 20px;
}
.button-animate::after,
.button-animate-2::after {
  content: " ";
  width: 0%;
  height: 100%;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}
.button-animate:hover .button-animate {
  border: 1px solid var(--color-primary);
  margin: -1px;
}
.button-animate-2:hover .button-animate-2 {
  border: 1px solid var(--color-white);
  margin: -1px;
}
.button-animate:hover:after,
.button-animate-2:hover:after {
  right: auto;
  left: 0;
  width: 100%;
}

.button-animate:hover span {
  color: var(--color-white);
}
.button-animate-2:hover span {
  color: var(--color-title);
}

.button-animate:hover span,
.button-animate-2:hover span {
  z-index: 20;
  transition: all 0.1s ease-in-out;
  font-weight: 600;
}
/* title */
.title {
  color: var(--color-title);
  font-weight: 700;
  font-size: 30px;
}
.text-content {
  color: var(--color-text-comment);
  line-height: 30px;
  font-family: "Plus Jakarta Sans", sans-serif;
}
/* other */
.hidden {
  visibility: hidden;
}
/* show and aniamte */
.showItemDownToUp {
  animation-name: showItemDownToUp;
  animation-duration: var(--time);
  animation-fill-mode: forwards;
  visibility: visible;
}
.showItemLeftToRight {
  animation-name: showItemLeftToRight;
  animation-duration: var(--time);
  animation-fill-mode: forwards;
  visibility: visible;
}
.showItemRightToLeft {
  animation-name: showItemRightToLeft;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  visibility: visible;
}
